{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/css1.css'%}"/>

</head>
<body>
    <img src="{%static 'images/a1.png'%}" alt="" >
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt obcaecati vel iste quae quam? Ea fugiat, eum numquam non ullam natus, tempore porro in dolor accusamus officia dolorum, odio placeat!</p>
    <img src="{%static 'images/a2.png'%}" alt="" >
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio hic adipisci deleniti aspernatur asperiores corporis officiis! Accusamus explicabo officia repellendus corporis quo placeat dolorem ducimus nemo asperiores cum, tempore perspiciatis.</p>
</body>
</html>